{% load static %}
<!DOCTYPE html>
<html>
  <h3>Ex01: Django, framework web.</h3>
  {% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}" />
  {% endblock style %}
  <p>
    Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. It follows the "Don't Repeat Yourself" (DRY) principle, aiming to make it easier to build web applications by providing various built-in features and tools. Django is known for its scalability, security, and versatility, making it a popular choice for developers worldwide. With Django, you can quickly create robust web applications, from simple websites to complex, data-driven platforms, leveraging its powerful features like its ORM (Object-Relational Mapper), built-in admin interface, and extensive documentation.
  </p>
</html>
