<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal website</title>
    <style>
        .profile-picture {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 100px;
            height: auto;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <h2>Welcome to the website from {name}</h2>
    <p>Check here to go to my <a href="{link}">github!</a></p>
</body>
</html>
